@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'DM Sans', sans-serif;
    color: white;
    /* background-color: black; */
}
body{
    overflow: scroll;
}
::-webkit-scrollbar{
    display: none;
}
#layout2{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: 
    "h m"
    "h c"
    "f f";
}
#a2{
    background-color: black;
    grid-area: h;
    white-space: wrap;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 80%; 
    /* overflow: scroll; */
    /* flex-wrap: wrap; */
    
}
#b2{
    background-color: rgba(125, 152, 145, 1);
    grid-area: m;
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 90%;
    left: 20%;
    flex-wrap: wrap;
    /* overflow: scroll; */
    /* left: 20%; */
}
#c2{
    /* background: linear-gradient(to bottom, #212121, #161616, #303030 99%); */
    background-color: black;
    grid-area: c;
     /* position: sticky;
    right: 0;
    left: 20%;
     top: 1%; 
     bottom:1%; */
     flex-wrap: wrap;
     padding-inline: 50px;
}
#d2{
    background-color: #181818;
    grid-area: f;
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    top: 90%;
    padding-bottom: 90px;
    /* overflow: hidden; */
    /* margin-bottom: 90px; */
    /* flex-wrap: wrap; */
    /* overflow-x: auto; */
}

.side-nav-bar{
    padding-left: 25px;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.14px;
    color: white;
    display: flex;
    flex-direction: column;
    /* position: sticky; */
}

.spotify-logo img{
    width: 73%;
    height: 4%;
    margin-top: 39.29px;
    margin-bottom:20px;
}

.left{
    margin-block: 10px;
}
.left ul li a img{
    height: 25px;
    width: 25px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

li{
    margin-bottom: 5px;
}
img{
    margin-right: 10px;
}
a:hover{
    color: green;
}

a{
    color: white;
    text-decoration: none;
}

.right-top-bar{
    display: flex;
    align-items: center;
    color: white;
}
.flex{
    display: flex;
}

.playlist-item2{
    justify-content: space-between;
}
.playlist-item3-a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.music-player-option{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    overflow: scroll;
    /* flex-wrap: wrap; */
}
.down-music-player{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}
.artist-title-section{
    display: flex;
    align-items: center;
}
.right-options{
    display: flex;
    align-items: center;
}
.right-options button{
    background-color: #181818;
    border-style: none;
    cursor: pointer;
}
.music-player button{
    background-color: #181818;
    border-style: none;
    color: white;
    /* cursor: pointer; */
}
.music-player{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.music-player-1{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.music-player-1 p{
    color: white;
    margin-right: 10px;
}